.search-area {
    height: 175px; 
    padding: 15px 25px;      
    text-align: left;
    color: #413132;
    font-size: 30px;
    font-weight: bold;
    background:  #9e94a8;    
    margin-bottom: 10px
}