.search-area {
    height: 175px; 
    padding: 15px 25px;      
    text-align: left;
    color: #72d369;
    font-size: 30px;
    font-weight: bold;
    background:  #69ccd3;    
    margin-bottom: 10px
}