.navbar {
    padding:25px;
    margin-bottom: 10px;
    background-color: #72d369;
}

.navbar-dark .navbar-brand {
    color: #69ccd3;
    font-size: 35px;
}

.search {
    font-size: 25px;
    color: #69ccd3;
    margin: 0px 20px;
}

.saved {
    font-size: 25px;
    color: #69ccd3;
    margin: 0px 20px;
}

